img{
    max-width: 100%;
    height: auto;   
    display: inline-block; 
}

a{
    color: inherit;
    display: inline-block;
}
/// 5%的字距，可以使用em
p{
    letter-spacing: 0.05em;
}
span{
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.1em;
}

i {
    font-size: 24px;
    line-height: 1;
}
