<section class="bg-primary-100">
    <div class="container"> 
        <div class="row">
            
            <p class="border-top text-center py-5">©Vivre 2024 All right Reserved</p>

        </div>
    </div>
</section>